<h1 class="text-center mt-4 mb-5 mt-3 display-3">Add Idea</h1>

<div class="card card-body">
  <h3>App Idea</h3>
  <form action="/ideas" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-dark btn-block">Submit</button>
  </form>
</div>
